{% extends "base.html" %}

{% block title %}Add Story {% endblock %}
{% block insidehead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="js/countchar.js"></script>
<script type="text/javascript" src="js/storyvalidator.js"></script>
{% endblock %}

{% block body %} 
        {% block leftcolumn %}
        <div class="box">  

            {% if not user %}
                <div class="errorbox">You are not logged in</div>
            {% endif %}
            <form class="formbox" id="myform" method="post" action="/addstory" accept-charset="utf-8">
                
                <div class="normalheadleft"> <h3>Add Story</h3> </div> <br>
                
                Heading <br> <input type='text' name ='heading' id="heading" 
                                class="input" style="width:400px"> <br> <br>
                Content <span id="char_count"></span><br>
                
                <textarea name="content" id="content" class="input" rows="7" cols="40" style="width:400px" 
                    onFocus="countChars('content','char_count',500)" 
                    onKeyDown="countChars('content','char_count',500)" 
                    onKeyUp="countChars('content','char_count',500)"  ></textarea> 
            <br> 
            <input class="button" type="submit" value="Submit">
            </form>
            
            <div class="note">*Remember - a story cannot have more than 500 characters in content</div>
        </div>
        {% endblock %}
{% endblock %}
