{% extends "base.html" %}

{% block body %} 
        {% block leftcolumn %}
        <div class="box">
            {% if not user %}
                <div class="errorbox">You are not logged in</div>
            {% endif %}
 
            <form class="formbox" method="post" enctype="multipart/form-data" action="/addsummary">
                <div class="normalheadleft"> <h3>Upload Summary</h3> </div> <br>
                <input type="file" name="summary"/>
                <input class="button" type="submit" value="Submit">
            </form>
                
            <div class="smallnote">If it's not an individual contest, make sure the teams' names are like this</div>
            <div class="smallnote">Team One(member1, member2, member3) </div>
 
        </div>
            
        {% endblock %}
{% endblock %}

