<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
    <head>
        <title>NSU Programming Team</title>
        <link rel="stylesheet" href="css/main.css" type="text/css">
    {% if not is_debug %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24473992-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>   
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script> 
    {% endif %}
    
    {% block insidehead %}
    {% endblock %}

    </head>
    <meta name="description" content="Homepage of NSU Programming Team"> 

    
    <body>
    
    <div class="container">
        
        <!-- Header --!>
        <div id="pagehead">
            <h1> <a href="/">NSU Programming Team</a> <h1>
        </div> 
        
        <div id="dropbox">
            <ul class="dropdown">
            <li><a href="/">Home</a></li>
            <li><a href="#">Add</a>
                <ul>
                    <li><a href="/addstory">Story</a></li> 
                    <li><a href="/addsummary">Summary</a></li> 
                    <li><a href="/addevent">Event</a></li> 
                </ul> 
            </li>
            <li><a href="/nsurank">NSURank</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/archive">Archive</a></li>
 
            </ul>
        </div>

         <!-- Main Content --!>
         <div id="inner-container">
             {% block innercontainer %}
            <div id="column-left">
                {% block leftcolumn %}
                <p>This is the left column </p>
                {% endblock %}
            </div>

            <div id="column-right">
                {% block rightcolumn %}
                <div id="group" class="smallbox">
                    
                    {% if not user %}
                    <div class="login-container">
                        <div class="login-box">
                            <div class="login-box-content">
                                Sign in with your
                                <div class="login-box-title"> Google Account </div>
                                    <a id="loginBtn" href="{{login_url}}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="login-container">
                        <div class="login-box">
                            <div class="login-box-content">
                                Welcome {{username}}! <br>
                                <a href="{{logout_url}}">Log Out</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                </div>
                
                <div class="mygbox">
                <g:plusone size="standard" href="http://nsurank.appspot.com/"></g:plusone>
                </div>
                {% endblock %}
            </div>
            
            {% endblock %} 
        </div>
    </div>
    </body>
</html>


