{% extends "base.html" %}

{% block leftcolumn %}
<div class="box">
    <div class="events">
        <div class="normalheadleft"> <h3>Events at NSU</h3> </div> <br>
        <hr><br>
        {% for event in events %}
        <div class="event">
            <div class="smallme">{{ event.name }}</div> 
            <b>on</b> {{ event.detailed_date }} <br>
            <b>from</b> {{event.time}} <b>at</b> {{ event.location }} <br> 
        </div>
        <hr><br>
        {% endfor %}
    </div>

    <div class="events">
        <div class="normalheadleft"> <h3>Contests Around the World</h3> </div> <br>
        <hr><br>
        {% for event in contests %}
        <div class="event">
            <div class="smallme">{{ event.name }}</div> 
            <b>on</b> {{ event.detailed_date }} <br>
            <b>from</b> {{event.time}} <b>at</b> <a href="http:\\{{ event.location }}">{{ event.location }}</a> <br> 
        </div>
        <hr><br>
        {% endfor %}
    </div>


</div>

{% endblock %}


